__pycache__/
*.pyc
dataset/
lightning_logs/
MNIST/
weights/
/backup
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
superhuge.egg-info/
build/
*.asv
*egg-info/
superhuge/
prepare_dataset/
train/
